body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 207, 207);
    
    
  
    margin: 0;

}

h1{
    text-align: center;
    color: white;
    font-size: 48px;
    margin-bottom : -2px;
    
}

#bt1{
    color:white;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px 40px; 
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
   



}

#quad{
    width:1000px; 
    height: 1000px;
    background-color: rgb(3, 3, 3);
    border-radius: 15px;
   


}

#desc{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}